/* Reset default margin and padding, set default font family and box-sizing */
* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

/* Set background color for the body */
body {
    background-color: #222;
}

/* Style for the main card container */
.card {
    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg, #00fe00, #5b548a);
    color: #fff;
    margin: 100px auto 0;
    border-radius: 30px;
    padding: 40px 35px;
    text-align: center;
}

/* Style for the search section */
.search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Style for the search input field */
.search input {
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}

/* Style for the search button */
.search button {
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

/* Style for the search button image */
.search button img {
    width: 16px;
}

/* Style for the weather icon */
.weather-icon {
    width: 170px;
    margin-top: 30px;
}

/* Style for the main temperature display */
.weather h1 {
    font-size: 75px;
    font-weight: 500;
}

/* Style for the city name display */
.weather h2 {
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}

/* Style for the additional weather details container */
.details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}

/* Style for each column in the details section */
.col {
    display: flex;
    align-items: center;
    text-align: left;
}

/* Style for the images in the details columns */
.col img {
    width: 40px;
    margin-right: 10px;
}

/* Style for the humidity and wind speed text */
.humidity, .wind {
    font-size: 26px;
    margin-top: -6px;
}

/* Initially hide the weather information section */
.weather {
    display: none;
}

/* Style for the error message section */
.error {
    text-align: left;
    margin-left: 10px;
    font-size: 17px;
    margin-top: 10px;
    display: none;
}
